<header class="site-header sticky-top py-1">
    <nav class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2 d-none d-md-inline-block" href="{% url 'homepage_app:homepage' %}">Главная</a>
      <a class="py-2 d-none d-md-inline-block" href="{% url 'about_app:about' %}">Кто я?</a>
      <a class="py-2 d-none d-md-inline-block" href="{% url 'education_app:education' %}">Образование</a>
      <a class="py-2 d-none d-md-inline-block" href="{% url 'work_app:work' %}">Опыт работы</a>
      <a class="py-2 d-none d-md-inline-block" href="{% url 'sertificate_app:sertificate' %}">Сертификат обучения</a>
    </nav>
  </header>
