{% extends "base.html" %}
{% block title %}
    <title>Резюме Мышкин · О себе</title> 
{% endblock %}
 
{% block main %}
    <main>

      <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">Очень легко учусь</h2>
            <p class="lead">Изучение Python начинал с нуля. В IT перехожу совсем из другой сферы - автобизнес. В автобизнесе уже более 3х лет, но в данный момент все моё свободное время уходит на изучение Python, тренировкам по написанию кода. И даже сейчас уже добиваюсь значительных результатов в этом направлении</p>
          </div>
          <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">Люблю спорт</h2>
            <p class="lead">Всю жизнь я занимался спортом. 7 лет играю в баскетбол, играл за сборную гимназии, потом за сборную университета. Параллельно с этим занимаюсь боксом, бегаю, хожу на постоянной основе в зал. Не имею никаких вредных привычек.
            </p>
          </div>
          <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
      </div>

      <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">Нравится творить и создавать</h2>
            <p class="lead">Это одна из причин почему я окунулся в It сферу, а в частности в область разработки. Мне очень нравится созидать, создавать что то своё, и в дальнейшем видеть результат, как оживает код, как из набора букв можно создать целый сайт...</p>
          </div>
          <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">Гонюсь за опытом и знаниями, а не за зарплатой</h2>
            <p class="lead">В первую очередь на новом месте работы жажду получить возможность работать с кодом на постоянной основе, конвертировать полученный опыт и знания в доход, но зарплата не является для меня основным мотиватором в поиске работы. Поэтому открыт к любым предложениям</p>
          </div>
          <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
      </div>

    </main>
{% endblock %}